#gifts {
  height: 100vh;
}

#gifts .image_grid > li:first-child {
  background-image: url("./WhatsApp\ Image\ 2024-02-25\ at\ 8.10.13\ PM.jpeg");
}

#gifts .image_grid > li:nth-child(2) {
  background-image: url("./WhatsApp\ Image\ 2024-02-26\ at\ 11.14.06\ AM.jpeg");
}




#gifts .image_grid > li:nth-child(3) {
  background-image: url("./WhatsApp\ Image\ 2024-02-23\ at\ 10.30.04\ PM.jpeg");
}
#gifts .image_grid > li:last-child {
  background-image: url("./WhatsApp\ Image\ 2024-02-25\ at\ 8.12.49\ PM.jpeg");
}

#bankdetails {
  padding: 0;
  margin-top: 2rem;
}

#bankdetails p {
  margin: 0 auto;
  padding: 0;
}
